:root {
  --nav-bkgd: #2992bf;
  /*
background: rgba( 41, 146, 191, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;

  */
  --nav-btn: #4cbed9;
    /*
  background: rgba( 76, 190, 217, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;

  */
  --highlight: #f0742a;
  /*
  background: rgba( 240, 116, 42, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;

*/
  --black: #292c17;
  --white: #f9f6ef;
}

/** ===== TEMPORARY ==== **/
#section-nav {
  background-color: #333;
}
#section-hero {
  height: 400px;
}
#section-intro {
  background-color: var(--white);
}

/******************************/
/** ===== GLOBAL STYLES ==== **/
/******************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #292a2d;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 20px auto 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  line-height: 44px;
}

a {
  text-decoration: none;
  padding: 5px;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

section {
  width: 100%;
  padding: 20px 10px 20px;
}

.responsive-img {
  width: 100%;
  height: auto;
}

/******************************/
/** ========= HERO ========= **/
/******************************/

#section-hero {
  color: var(--white);
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}

h1 {
  font-size: 2.5em;
  color: mediumaquamarine;
}
h2 {
  font-size: 2em;
}

/******************************/
/** ========== NAV ========= **/
/******************************/

#section-nav {
  background-color: var(--nav-bkgd);
  padding: 5px 0;
}

#navbar a {
  float: right;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

/* attached to the navbar via JavaScript */
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* add top padding to <main> content so that the fixed nav bar doesn't hide anything */
.sticky + .content {
  padding-top: 35px;
}

.cta {
  background-color: var(--highlight);
}

.btn {
  background-color: var(--nav-btn);
}

#section-intro,
#section-portfolio,
#section-contact {
  margin: 20px 0;
}
/******************************/
/** ========= INTRO ======== **/
/******************************/

#section-intro {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../img/grunge-wood.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff; */


#intro-img {
  width: 30%;
  max-width: 300px;
}

#my-pic-intro {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 10px;
}

#intro-text {
  width: 70%;
  padding: 15px 50px;
  font-size: 26px;
}

/******************************/
/** ======= PORTFOLIO ====== **/
/******************************/

#content-portfolio {
  display: flex;
  flex-flow: row wrap;
}

#section-portfolio {
  /* css gradient 135 Slick Carbon, webgradients.com */
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}

#section-portfolio {
  padding-bottom: 30px;
  color: var(--white);
}

.project-img {
  width: 100%;
  max-width: 300px;
}

.project-wrapper {
  margin: 20px auto;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  /*https://glassmorphism.com/*/
  background: rgba(41, 146, 191, 0.3);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.project-wrapper:hover {
  background: rgba(41, 146, 191, 0.7);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.card-top {
  padding: 10px;
}

.card-img {
  width: 100%;
}

.card-bottom {
  padding: 5%;
}

.project-summary {
  margin-bottom: 20px;
}

.project-btn {
  background-color: #ccc;
  border-radius: 8px;
  display: inline-block;
  padding: 10px;
}

.project-btn:hover {
  background-color: #fff;;
}

.icon-project {
  padding-right: 6px;
  font-size: 1.1em;
}

.github-btn {
  color: #2992bf;
  margin-right: 10px;;
}

.readme-btn {
  color: #7f65a7;
}

/******************************/
/** ========= ABOUT ======== **/
/******************************/

#section-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../img/grunge-wood.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

#content-about {
  display: flex;
  flex-direction: row;
}  

#content-about h2 {
  font-size: 36px;
}

#content-about-text {
  width: 60%;
  font-size: 25px;
  padding: 0 30px 0 40px;
  text-align: left;
}

#content-about-photos {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.cat-img {
  max-width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid rgb(42, 224, 154);
}

/******************************/
/** ======== CONTACT ======= **/
/******************************/

#section-contact {
  margin: 50px auto 5px;
  padding: 20px 0;
}

#section-contact h2 {
  line-height: 65px;
  font-size: 36px;
}

#content-contact {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 500px;
  font-size: 22px;
  line-height: 2.5;
  text-align: center;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1   100%);
  box-shadow: 0 12px rgb(42, 224, 154), 0 24px rgb(97, 117, 231), 0 -12px rgb(42, 224, 154), 0 -24px rgb(97, 117, 231);
}

.contact-profile {
  background-color: var(--white);
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(42, 224, 154);
}

.contact-profile:hover {
  border: 3px solid rgb(97, 117, 231);
}

.project-btn:hover {
  background-color: #fff;;
}

.icon-contact {
  color: rgb(97, 117, 231);
}

.icon-contact {
  margin-right: 10px;  
}

.icon-profile {
  margin-right: 10px;
}

/******************************/
/** ======= FOOTER ========= **/
/******************************/

footer {
  color: #555;
  text-align: center;
}













/******************************/
/** ==== MEDIA QUERIES ===== **/
/******************************/

@media screen and (min-width: 650px) {

  /* .responsive-img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  #content-contact {
    margin: 0 auto 70px;
    padding: 10px;
    box-shadow: 12px 12px rgb(42, 224, 154), 24px 24px rgb(97, 117, 231), -12px -12px rgb(42, 224, 154), -24px -24px rgb(97, 117, 231);
  }
}

@media screen and (min-width: 820px) {

}

@media screen and (min-width: 950px) {
  .responsive-img {
    width: 100%;
    height: auto;
  }
}