:root {
  --nav-bkgd: #2992bf;
  --nav-btn: #4cbed9;
  --highlight: #f0742a;
  --black: #292c17;
  --white: #f9f6ef;
}

/** ===== TEMPORARY ==== **/
#section-nav {
  background-color: #333;
}
#section-hero {
  height: 400px;
}
#section-intro {
  background-color: coral;
}
#section-about {
  background-color: mediumaquamarine;
}

/******************************/
/** ===== GLOBAL STYLES ==== **/
/******************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #292a2d;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

/* ! currently nav bar is 48px tall with padding */
main {
  margin-top: 38px; 
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 5px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

section {
  width: 100%;
  padding: 40px 10px 20px;
}

.responsive-img {
  width: 100%;
  height: auto;
}

/******************************/
/** ========== NAV ========= **/
/******************************/

/* #navbar,
#footer-content {
  margin: 0;
} */

#section-nav {
  background-color: var(--nav-bkgd);
  padding: 5px 0;
}

#navbar a {
  float: right;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

/* attached to the navbar via JavaScript */
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}

/* add top padding to <main> content so that the fixed nav bar doesn't hide anything */
.sticky + .content {
  padding-top: 35px;
}

.cta {
  background-color: var(--highlight);
}

.btn {
  background-color: var(--nav-btn);
}

/******************************/
/** ========= HERO ========= **/
/******************************/

#section-hero {
  color: var(--white);
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}

h1 {
  font-size: 2.5em;
  color: mediumaquamarine;
}
h2 {
  font-size: 2em;
}

/******************************/
/** ========= INTRO ======== **/
/******************************/

#section-intro {
  display: flex;
  flex-direction: row;
}

#my-pic-intro {
  border-radius: 300px;
  max-width: 250px;
}

/******************************/
/** ======= PORTFOLIO ====== **/
/******************************/

#content-portfolio {
  display: flex;
  flex-flow: row wrap;
}

#section-portfolio {
  margin-bottom: 30px;
}

#section-portfolio h2 {
  padding-bottom: 30px;
  color: var(--white);
}

.project-img {
  padding-bottom: 20px;
  max-width: 300px;
}

.project-wrapper {
  border: 1px solid black;
  border-radius: 10px;
  background-color: mediumaquamarine;
  margin: 0 auto;
  padding: 10px;
}

/******************************/
/** ========= ABOUT ======== **/
/******************************/
/*makes all images in the section responsive*/

#content-about {
  display: flex;
  flex-flow: column wrap;
}

#content-about-photos {
  display: flex;
  flex-direction: row;
}

.cat-img {
  max-width: 200px;
}

/* #content-about-text {
  text-align: center;
  font-size: 20px;
}

#content-about-photos {
  display: flex;
  flex-direction: row;
  max-width: 500px;
}

#content-about-photos img {
  border-radius: 300px;
}

.responsive-div {
  width: 35%;
  margin: 0 auto;
} */

/******************************/
/** ======== CONTACT ======= **/
/******************************/

#section-contact {
  margin: 50px 0 5px;
}

#content-contact {
  margin: 0 auto;
  max-width: 500px;
  line-height: 2.5;
  text-align: center;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1   100%);
  box-shadow: 0 12px rgb(42, 224, 154), 0 24px rgb(97, 117, 231), 0 -12px rgb(42, 224, 154), 0 -24px rgb(97, 117, 231);
}


/******************************/
/** ======= FOOTER ========= **/
/******************************/

footer {
  color: #555;
  text-align: center;
}






























/******************************/
/** ==== MEDIA QUERIES ===== **/
/******************************/

@media screen and (min-width: 650px) {

  /* .responsive-img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .responsive-div {
    height: 280px;
    width: 25%;
  } */
  #content-contact {
    margin: 0 auto 70px;
    padding: 10px;
    box-shadow: 12px 12px rgb(42, 224, 154), 24px 24px rgb(97, 117, 231), -12px -12px rgb(42, 224, 154), -24px -24px rgb(97, 117, 231);
  }
}

@media screen and (min-width: 820px) {
  .responsive-div {
    height: 320px;
  }
}

@media screen and (min-width: 950px) {
  .responsive-img {
    width: 100%;
    height: auto;
  }
}